:root {
	--primary-text-color: #434455;
	--title-text-color: #2e2f42;
	--accent-color: #e5e5e5;
	--primary-white-color: #ffffff;
	--primary-links-color: #4d5ae5;
	--primary-background-color: #2f303a;
	--secondary-background-color: #f5f4fa;
}
body {
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
p {
	margin-top: 0;
	margin-bottom: 0;
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
.conteiner {
	width: 1158px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.conteiner-portfolio {
	display: flex;
	flex-wrap: wrap;
	gap: 48px 24px;
}

.list-contact {
	list-style: none;
	display: flex;
	margin-left: auto;
	gap: 40px;
}
.title-cover {
	display: none;
}
li {
	list-style: none;
}
.link,
.logo-primary,
.logo-secondary,
.logo-primary-footer,
.logo-secondary-footer,
.header-address,
.footer-address,
.footer-info,
.main-link,
.hero-link {
	text-decoration: none;
}
.page-header {
	padding-top: 24px;
	padding-bottom: 24px;
	background-color: var(--primary-white-color);
}
.page-header-conteiner {
	display: flex;
	align-items: center;
}
.nav {
	display: flex;
	align-items: center;
}
.menu {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	gap: 40px;
}
.menu-item:not(:last-child) {
}
.logo-primary,
.logo-primary-footer {
	display: block;
	margin-right: 76px;
	color: var(--primary-links-color);
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.logo-secondary {
	color: var(--title-text-color);
}
.link {
	color: var(--title-text-color);
}
.link:hover,
.link:focus {
	color: var(--primary-links-color);
}
.header-address {
	color: var(--primary-text-color);
	font-style: normal;
}
.header-address:hover,
.header-address:focus {
	color: var(--primary-links-color);
}
.hero {
	padding: 188px 0px;
	background-color: var(--primary-background-color);
}
.hero-title {
	display: flex;
	width: 496px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 48px;
	color: var(--primary-white-color);
	font-style: normal;
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
}
.button-primary {
	padding: 16px 32px;
	gap: 10px;
	border-radius: 4px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	color: var(--primary-white-color);
	background-color: var(--primary-links-color);
	font-family: inherit;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	cursor: pointer;
}
.button-primary:hover,
.button-primary:focus {
	background-color: #404bbf;
}
.advan {
	padding-top: 120px;
	padding-bottom: 120px;
	background-color: var(--primary-white-color);
}
.li-advan {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	gap: 24px;
}

.advan-subtitle {
	margin-bottom: 8px;
	color: var(--title-text-color);
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
}
.advan-text {
	color: var(--primary-text-color);
}
.work {
	padding-top: 0px;
	padding-bottom: 120px;
	background-color: var(--primary-white-color);
}
.li-work-img {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	gap: 24px;
	max-width: 100%;
	height: auto;
}
.work-title {
	color: var(--title-text-color);
}
.work-title,
.team-title {
	margin-bottom: 72px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	text-transform: capitalize;
}
.team {
	padding-top: 120px;
	padding-bottom: 120px;
	background-color: var(--secondary-background-color);
}
.team-title {
	color: var(--title-text-color);
}
.li-team {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	gap: 24px;
}
.discr-team {
	display: flex;
	flex-direction: column;
	padding: 32px 16px;
	background: #ffffff;
	text-align: center;
}
.team-subtitle {
	margin-bottom: 8px;
	color: var(--title-text-color);
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	text-align: center;
}
.team-text {
	color: var(--primary-text-color);
}
.footer {
	padding: 100px 0;
	background-color: var(--primary-background-color);
}
.logo-primary-footer {
	margin-bottom: 16px;
}
.logo-secondary-footer {
	color: #f4f4fd;
}
.footer-info {
	width: 264px;
	color: #e7e9fc;
}

/* css for another classes portfolio.html */
.page-header {
	border-top: none;
	border-bottom: 1px solid #e7e9fc;
}

.portfolio {
	padding-top: 96px;
	padding-bottom: 120px;
	background-color: var(--primary-white-color);
}
.li-list-conteiner-portfolio {
	flex-wrap: wrap;
	display: flex;
	gap: 48px 24px;
}
.li-title-cover {
	display: flex;
	gap: 24px;
	margin-bottom: 72px;
	justify-content: center;
}
.filters {
	border: 1px solid #e7e9fc;
	border-radius: 4px;
	padding: 12px 24px;
	background-color: #f4f4fd;
	color: var(--primary-links-color);
	font-size: 16px;
	line-height: 1.5;
	font-family: inherit;
	font-weight: 500;
	letter-spacing: 0.04em;
	cursor: pointer;
}
.filters:not(:last-child) {
	margin-right: 24px;
}
.filters:hover,
.filters:focus {
	border-color: var(--primary-links-color);
	background-color: var(--primary-links-color);
	color: var(--primary-white-color);
}
.projects {
	background-color: var(--primary-white-color);
}
.projects-subtitle {
	margin-bottom: 8px;
	color: var(--title-text-color);
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
}
.projects-text {
	color: var(--primary-text-color);
}
.border-img-dscr {
	border: 1px solid #e7e9fc;
	border-top: none;
	padding: 32px 16px;
}
